@charset "UTF-8";
html {
  font-size: 20px; }

.web {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../images/beijingX.png);
  background-repeat: no-repeat;
  background-size: cover;
  /**********头部**********/ }
  .web header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 55%;
    overflow: hidden;
    /**************动画效果**************/ }
    .web header .music {
      color: #e7c598;
      position: absolute;
      right: 0.58594rem;
      top: 0.43945rem;
      font-size: 30px;
      z-index: 999; }
    .web header .icon-yinle1 {
      animation: music 5s linear infinite; }
@-webkit-keyframes music {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }
@keyframes music {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }
    .web header .btnD {
      display: inline-block;
      position: absolute;
      width: 1.17188rem;
      height: 1.11328rem;
      top: 0.73242rem;
      left: 1.05469rem; }
      .web header .btnD .i {
        display: inline-block;
        font-size: 0.58594rem;
        line-height: 0.9375rem;
        color: #bf0c21;
        position: absolute;
        font-size: 0.70313rem;
        line-height: 1.11328rem;
        margin-left: 5px; }
    .web header input[type="button"] {
      width: 2.63672rem;
      height: 1.11328rem;
      border-radius: 5px;
      background: #e7c598;
      color: #bf0c21;
      position: absolute;
      padding-left: 0.87891rem;
      line-height: 1.11328rem;
      box-sizing: border-box;
      padding-bottom: 10px;
      -webkit-appearance: none;
      box-shadow: 1px 2px 5px #000; }
    .web header .cut {
      display: inline-block;
      width: 2.63672rem;
      height: 1.11328rem;
      padding: 0.08789rem 0.17578rem;
      box-sizing: border-box;
      border-radius: 5px;
      background: #e7c598;
      position: absolute;
      top: 0.73242rem;
      left: 1.05469rem;
      font-size: 0;
      color: #bf0c21;
      z-index: 999; }
      .web header .cut .i {
        font-size: 0.58594rem;
        line-height: 0.9375rem; }
        .web header .cut .i:hover {
          transform: rotate(360deg);
          btransition: all 800ms ease-in-out; }
      .web header .cut .fonts {
        display: inline-block;
        margin-left: 3px;
        font-size: 0.52734rem;
        line-height: 0.9375rem; }
    .web header .active {
      display: block; }
    .web header li {
      position: relative;
      display: inline-block;
      text-align: center;
      margin-top: 1.46484rem;
      display: none; }
      .web header li .tu {
        display: inline-block;
        width: 14.35547rem; }
      .web header li .tugd {
        display: inline-block;
        width: 16.40625rem;
        padding-top: 10px; }
      .web header li .location {
        position: absolute;
        display: inline-block;
        font-size: 12px;
        color: #BF0C21; }
        .web header li .location .tu {
          width: 2.28516rem; }
        .web header li .location .lingqu {
          width: 2.28516rem;
          text-align: center;
          display: inline-block;
          position: absolute;
          top: 10px;
          left: 0;
          line-height: 0.82031rem;
          box-sizing: border-box;
          padding: 0 4px; }
          .web header li .location .lingqu .num {
            font-size: 14px;
            font-weight: bold;
            display: inline-block;
            min-width: 10px; }
      .web header li .haikou {
        position: absolute;
        top: -22px;
        right: 78px; }
      .web header li .sanya {
        position: absolute;
        bottom: 32px;
        left: 133px; }
      .web header li .maoming {
        position: absolute;
        bottom: 82px;
        left: 57px; }
      .web header li .guangzhou {
        position: absolute;
        top: 40px;
        left: 160px; }
      .web header li .huizhou {
        position: absolute;
        right: 107px;
        top: 59px; }
    .web header .font {
      color: #e7c598;
      position: absolute;
      bottom: 0;
      right: 0.87891rem; }
      .web header .font > p {
        display: block;
        text-align: right;
        font-size: 1.11328rem;
        line-height: 1.46484rem; }
        .web header .font > p .num {
          font-size: 1.75781rem;
          font-family: "新宋体"; }
      .web header .font .small {
        font-size: 0.82031rem; }
  .web section {
    position: absolute;
    top: 55%;
    bottom: 10%;
    width: 100%;
    height: 35%;
    overflow: hidden;
    overflow-y: auto; }
    .web section .explain {
      padding: 0.29297rem 1.58203rem;
      color: #e2ac88;
      font-size: 0.82031rem;
      text-align: justify; }
      .web section .explain .title {
        line-height: 1.23047rem;
        padding: 0.14648rem 0;
        font-weight: bold; }
      .web section .explain .content {
        font-size: 0.64453rem;
        line-height: 1.11328rem; }
  .web footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    overflow: hidden; }
    .web footer .btn {
      color: #e2ac88;
      display: block;
      position: relative;
      margin: 0 auto;
      text-align: center;
      margin-top: 2px;
      width: 9.31641rem; }
      .web footer .btn .btnfont {
        width: 9.31641rem;
        box-sizing: border-box;
        background: url(../images/kuang.png) round;
        padding: 5px 5px;
        font-size: 0.70313rem; }
  .web .home {
    font-size: 0.87891rem;
    color: #bf0c21;
    line-height: 1.20117rem;
    width: 1.20117rem;
    height: 1.20117rem;
    border-radius: 100%;
    background: #e7c598;
    position: absolute;
    bottom: 0.87891rem;
    right: 1.17188rem;
    text-align: center;
    box-shadow: 1px 2px 5px #000; }

/******************兑换*******************/
.conversion {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 9.58008rem;
  height: 200px;
  text-align: center; }
  .conversion .code {
    color: #e7c598; }
  .conversion input[type="text"] {
    width: 9.58008rem;
    height: 1.52344rem;
    border: none;
    background: #e7c598;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 0 10px;
    margin-top: 1.23047rem;
    margin-bottom: 0.58594rem;
    font-size: 0.9375rem;
    line-height: 1.52344rem;
    text-align: center;
    color: #bf0c21;
    -webkit-appearance: none;
    box-shadow: 1px 2px 5px #000; }
  .conversion .affirm {
    color: #e7c598;
    width: 7.32422rem;
    background: url(../images/kuang.png) round;
    padding: 2px  2px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 2.05078rem;
    font-size: 17px; }

/***********兑换**********/
.succeed {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none; }
  .succeed .shade {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #e7c598;
    width: 12.09961rem;
    height: 7.91016rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 3px 3px 6px #000; }
    .succeed .shade .quxiao {
      color: #bf0c21;
      display: block;
      font-size: 28px;
      position: absolute;
      right: 0.35156rem;
      top: 0.14648rem; }
    .succeed .shade .font {
      font-size: 1.46484rem;
      color: #bf0c21;
      line-height: 7.91016rem; }
  .succeed .fontBe {
    color: #bf0c21;
    font-size: 1.05469rem;
    padding-top: 1.75781rem;
    padding-bottom: 0.58594rem; }
  .succeed .shuru {
    width: 7.61719rem;
    height: 1.46484rem;
    font-size: 16px;
    border-radius: 6px;
    background: #bf0c21;
    color: #e7c598;
    -webkit-appearance: none;
    box-shadow: 1px 2px 5px #000;
    margin-top: 20px; }

/******************地图定位******************/
#map {
  width: 16.11328rem;
  height: 16.11328rem;
  margin: 0 auto;
  margin-top: 5.85938rem;
  margin-bottom: 1.17188rem;
  box-shadow: 5px 5px 5px #000; }

.explain {
  color: #e7c598;
  width: 15.23438rem;
  margin: 0 auto;
  text-align: center;
  font-size: 0.87891rem;
  line-height: 1.23047rem; }

.shibai {
  display: none; }

.sb {
  transform: translateY(-20%); }

/*************动画****************/
.delay_02 {
  animation-delay: .2s; }

.delay_03 {
  animation-delay: .3s; }

/***********地图样式************/
.info-title {
  color: white;
  font-weight: bold;
  font-size: 15px;
  background-color: blue;
  line-height: 26px;
  padding: 0px 0 0 6px;
  font-weight: lighter;
  letter-spacing: 1px; }

.info-content {
  font-size: 12px;
  padding: 4px;
  color: #666666;
  line-height: 23px; }

.amap-adcontent-body {
  width: 90%; }

.amap-adcombo-close {
  right: 34px; }

@media (min-width: 320px) and (max-width: 374px) {
  .web header li .tu {
    width: 13.18359rem; }

  .web header li .tugd {
    width: 14.64844rem; }

  .web header li .location .tu {
    width: 2.05078rem; }

  .web header li .location .lingqu {
    width: 2.05078rem; }

  .web header li .haikou {
    top: -25px;
    right: 63px; }

  .web header li .sanya {
    bottom: 32px;
    left: 111px; }

  .web header .font > p {
    font-size: 0.82031rem;
    line-height: 0.99609rem; }

  .web header .font > p .num {
    font-size: 1.46484rem;
    font-family: "新宋体"; }

  .web section .explain {
    font-size: 0.76172rem;
    padding: 0;
    width: 14.64844rem; }

  .web section .explain .title {
    line-height: 1.23047rem;
    padding: 0; }

  .web header li .shaoguan {
    left: 160px;
    top: -20px; }

  .web header li .yangjiang {
    bottom: 84px;
    left: 89px; }

  .web header li .maoming {
    bottom: 74px;
    left: 44px; }

  #map {
    width: 14.64844rem;
    height: 14.0625rem;
    margin: 0 auto;
    margin-top: 5.27344rem;
    margin-bottom: 1.17188rem; } }
@media (min-width: 414px) {
  .web header li .tu {
    width: 16.99219rem; }

  .web header li .tugd {
    width: 18.16406rem; }

  .web header li .location .tu {
    width: 2.57813rem; }

  .web header li .location .lingqu {
    width: 2.57813rem;
    top: 14px;
    font-size: 0.70313rem;
    line-height: 0.9375rem; }

  .web header li .location .lingqu .num {
    font-size: 0.82031rem;
    font-weight: bold; }

  .web header li .haikou {
    top: -26px;
    right: 80px; }

  .web header li .sanya {
    bottom: 42px;
    left: 143px; }

  .web header li .shaoguan {
    left: 207px;
    top: -26px; }

  .web header li .yangjiang {
    bottom: 102px;
    left: 118px; }

  .web header li .maoming {
    bottom: 92px;
    left: 63px; }

  .web header .font > p {
    font-size: 1.23047rem;
    line-height: 1.46484rem; }

  .web header .font .small {
    font-size: 1.11328rem; }

  .explain {
    width: 16.99219rem;
    font-size: 0.99609rem;
    line-height: 1.40625rem; }

  .web section .explain .title {
    font-size: 1.05469rem; }

  .web section .explain .content {
    font-size: 0.82031rem;
    line-height: 1.23047rem; }

  #map {
    width: 17.57813rem;
    height: 16.11328rem;
    margin: 0 auto;
    margin-top: 6.73828rem;
    margin-bottom: 1.17188rem; } }

/*# sourceMappingURL=diy.css.map */
